body {
    font: 20px Montserrat, sans-serif;
    margin: 0px;
}

#multis-head {
    background-color: var(--theme-color-1) !important;
    color: #FFFFFF;

    padding: 15px;
}
#multis-head h1 {
    margin: 0px;
}


.multis-split {
    height: 100%;
    width: 50%;
    position: fixed;
    /* z-index: 1; */
    top: 77px;
    overflow-x: hidden;
}

.left {
    background-color:var(--theme-color-4);
    color: #FFFFFF;

    left: 0;
}
.right {
    background-color: var(--theme-color-2);
    color: #212529;

    right: 0;
    /* padding: 20px; */
}