#multis-editor {
    height: 100%;
}

.multis-toolbar {
    background-color: aliceblue;
}

.multis-btn {
    background-color: #000;
    color: #FFF;
    border: 1px solid #000;
    border-radius: 8px;

    margin: 8px;
    padding: 5px;
}