body {
    font: 20px Montserrat, sans-serif;
    margin: 0px;
}

#multis-head {
    color: var(--theme-color-1);
    text-align: left;

    padding: 15px;
}
#multis-head a {
    font-size: 25px;
    text-decoration: none;

    color: var(--theme-color-1);
}
#multis-head a:hover {
    color: var(--theme-color-hover);
}
#multis-head hr {
    color: var(--theme-color-2);
}

#multis-head ul {
    display: block;
    direction: ltr;
    
    list-style: none;
}
#multis-head li {
    display: inline;
    padding-right: 9px;
}


.multis-split {
    height: 100%;
    width: 50%;
    position: fixed;
    /* z-index: 1; */
    top: 77px;
    overflow-x: hidden;
}

.left {
    background-color:var(--theme-color-4);
    color: #FFFFFF;

    left: 0;
}
.right {
    background-color: var(--theme-color-2);
    color: #212529;

    right: 0;
    /* padding: 20px; */
}

