#multis-editor {
    height: 100%;
}

.multis-toolbar {
    background-color: var(--theme-color-3);

    padding: 20px;
}

.multis-container {
    padding: 20px;
}

.multis-btn {
    text-decoration: none;
    font-size: 30px;
    
    color: #000;
}
.multis-btn:hover {
    color: #222;
}


.multis-output {
    height: 150px;
    background-color: #000;

    overflow: hidden;
}

#btn-launch {
    /* display: inline; */
    /* padding-left: 100%; */

    /* text-align: right; */
    float: right;
    padding-right: 25px;
}

#editor canvas {
    margin-right: auto;
    margin-left: auto;

    display: block;
}

.hidden {
    visibility: hidden;
    position: absolute;
}