.p5Canvas {
    /* border: 2px solid #555555; */
    border: 1px solid #2e3338;
}

/* default viewport */
/* #defaultCanvas0 {
    width: 80% !important;
    height: auto !important;
} */

/* background / fb canvas */
#defaultCanvas1 {
    position: absolute !important;
    /* solution to the overflowing browser page */
    top: 0%;
    left: 0%;

    visibility: hidden;
}